*{
    box-sizing: border-box;

}

body{
    font-family: 'Roboto',sans-serif;
    margin: 0;
  
}

.logo-wh {
    position: fixed;
    margin: 1%;
    width: 5%;
    bottom: 5%;
    right: 2%;
    z-index: 20;
}


h1{
    color:white;
    font-size: 2em;
    text-align: center;
}


h2{size: 1.8em;
color: black
}
h3{size: 1.5cap}
p{size: 0.5em}



.container{
    max-width: 1300px;
    margin: auto;
}

button{
    font-size: 1em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 10px;
    border:1px solid rgba(0,0,0,0.5);
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
    background-color: blueviolet;
    color: white;
   
}

button:hover{
    background-color: rgb(100, 22, 172);    
}



/***************header **************************************************/

header{
    background-color: rgb(245,245,245);
    min-height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; 
}


#logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#logo h2{
    font-weight: bold;
    color: blueviolet;
    font-size: 1.3em;
}



header img{
    margin:10px;
    height:50px;
    width:50px;
}

header nav{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom:10px;
}

header a{
    color: black;
    text-decoration: none;
    font-weight: bold;
}

header a:hover{
    color:blueviolet
}



/******************Hero**************************************************/
#hero{
    height: 70vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ),
    url("../img/hero.jpg");
    background-color: antiquewhite;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


/******************NOSOTROS ****************************************/
#nosotros .container{
    display: flex;
    max-width: 90%;
    padding-bottom: 50px;  
}
#nosotros .container img{
    width: 40%;
}
#nosotros h2 {
    font-size: 2em;
    text-align: center;
    margin-top: 0;
    padding-top: 100px;
}

#nosotros p{
    padding: 10px;
}

.mision {
    max-width: 25%;
    text-align: center;
}

.pasion {
    max-width: 25%;
    text-align: center;
}

.Didáctica {
    max-width: 25%;
    text-align: center;
}

.soporte {
    max-width: 25%;
    text-align: center;
}

/******************Nosotros responsive ****************************************/
/* para Celulares*/
@media only screen and (max-width: 600px) {
    #nosotros .container  
     {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;  
     }
     .mision {
        max-width: 75%;
        text-align: center;
        
    }
    .pasion {
        max-width: 75%;
        text-align: center;
    }
    .Didáctica {
        max-width: 75%;
        text-align: center;
    }
    .soporte {
        max-width: 75%;
        text-align: center;
    }  
}


/******************Donde estamos ****************************************/

.donde-estamos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-items: center;
    min-height: 400px;
    
}

.donde-estamos iframe{
    width: 40vw;
    height: 40vh;   
    margin: 10px;
}
.donde-estamos-texto{
    width: 50vw;
    height: 200px; 
    margin: 20px;
}

.donde-estamos-texto p:nth-child(2){
   display: none;
}


/******************Nuestros Cursos ****************************************/

#nuestros-cursos{
    background-color: rgb(30, 30, 30);
    color: white;
    text-align: center;
}


#nuestros-cursos .EstiloNCursos{
    display: flex;   
    flex-direction: column;
    width: 100%;
}

#nuestros-cursos .container{
    padding:100px 12px;
}

#nuestros-cursos h2{
    color: white;
    margin-top: 0;
}

#nuestros-cursos p{
    display: none;
    
}


#nuestros-cursos .carta{
    
            background-position: center center;
            background-size: cover;
            padding: 50px 0;
            border-radius: 15px;
            
    }
    .carta:first-child{
        margin: 10px;
     
            background-image: linear-gradient(
            0deg,
            rgba(128, 50, 50, 0.5),
            rgba(0,0,0,0.5))
        ,url("../img/español.jpg");
        }
    .carta:nth-child(2){
        margin: 10px;
        background-image: linear-gradient(
            0deg,
            rgba(128, 50, 50, 0.5),
            rgba(0,0,0,0.5))
        ,url("../img/inglés.jpg");
        }
    .carta:nth-child(3){
        margin: 10px;
        background-image: linear-gradient(
            0deg,
            rgba(128, 50, 50, 0.5),
            rgba(0,0,0,0.5))
        ,url("../img/portuguesa.jpg");
         }
   
    .carta:nth-child(4){
        margin: 10px;
        background-image: linear-gradient(
            0deg,
            rgba(128, 50, 50, 0.5),
            rgba(0,0,0,0.5))
        ,url("../img/italiana.jpg");
        }

/******************FORMULARIO****************************************/

#contacto{
    background-color: rgb(30, 30, 30);
    color: white;
    text-align: center;
    padding:50px;
}


#contacto form {
    margin: 0 auto; /* Centra horizontalmente */
    width: 50%; /* Ancho del formulario */
    max-width: 600px; /* Ancho máximo del formulario */
}

#contacto h2{
    color: white;
    margin: 50px;
    text-align: center;
  
}



#contacto form label,
form legend {
   
    display: block;
    font-size: 16px;
    margin: 0 0 10px;
}

.input-padron {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 100%; /* Ancho completo */
    box-sizing: border-box; /* Incluye padding y border en el ancho total */
}

.checkbox {
    margin: 20px 0;
}

fieldset {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
}

.enviar {
    margin: 0 auto; /* Centra horizontalmente */
    width: 50%;
    padding: 15px 0;
    font-size: 10px;
    font-weight: bold;
    color: white;
    background: blueviolet;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}

.enviar:hover {
    background: rgb(100, 22, 172);
    transform: scale(1.1);
}

#mensaje-exito {
    margin: 40px auto; 
    display: none;
    color: green;
}

.error {
    color: red;
}


/******************PIE DE PAGINA****************************************/

.logopie {
    width: 5%;
    }
.piedepagina {
    padding: 50px;
    text-align: center;
}
.piedepagina a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}
.piedepagina a:hover{
    color:blueviolet
}




/******************FOOTER****************************************/



.footer-container {
    background-color: rgb(245,245,245);
    min-height: 30px;
    display: flex;
    text-align: center;
    justify-content: center;
}


.resize-img{
    width: 50px;
    height: 50px;
    padding: 10px;
}


/****************************pantalla grande ****************************************/

@media only screen and (min-width: 720px) {
    header  
     {
        flex-direction: row;
        position: fixed;
        width: 100%;
     }
    header .container  
     {
        flex-direction: row;
        justify-content: space-around;
        margin-left: 40px;
       
     }
     header .container #logo p
     {
        font-size: 1.8em;
     }
     header nav  
     {
        flex-direction: row;
        margin-right: 20px;
     }
     
     header nav a
     {
        margin-right: 20px;
     }

     #hero {
        height: 100vh;
     }
     
     
    #nuestros-cursos .EstiloNCursos{
        display: flex;   
        flex-direction: row;
       
    }

    #nuestros-cursos p{
        display: block;
        margin-bottom: 30px;
        padding: 20px;
    }
       
     #nuestros-cursos h3{
        margin-top: 0;
      }
      
      
    .piedepagina img {
    size: 10%;
    padding: 10px;
    }

 
     
    .donde-estamos{

        margin: 30px;
        height: 90vh;
    }

    .donde-estamos iframe{
        width: 60vw;
        height: 70vh;   
        margin-top: 30px;
    }
    .donde-estamos-texto{
        width: 50vw;
        height: 200px; 
    }

    .donde-estamos-texto p:nth-child(2){
        display: block;
     }
     
     .enviar {
        font-size: 18px;
     }
}